.header{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    flex-wrap: wrap;



    logo{
        /* font-size: ; */
    }

    ul{
        
        align-items: center;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        li{
            
            list-style: none;
            margin: 0px 20px;
            
        }
    }

    @media screen  and (max-height:760){
        ul{
            font-size: 2px;
        }
    }
}