:root {
    --primary: #4A90E2;
    --secondary: #f4f6f8;
    --text-dark: #333;
    --text-light: #666;
    --white: #ffffff;
    --green: #2ecc71;
    --border: #e1e4e8;
}



* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}